node_modules
.pnpm-store
apps/web/dist
packages/*/dist
release
out

.git
.history
.runtime-logs
.vscode
.idea

.env
.env.*
!.env.example

bin
services/navidrome/navidrome.exe
services/navidrome/navidrome
services/navidrome/data
services/navidrome/LICENSE

../personal-music-stack-data
**/cookies
*.log
*.pid
Desktop.ini
Thumbs.db
.DS_Store
